.main__recent{
    margin-top: 60px;
  }
  .main__recentDiv{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 24px;
  
  }
  .main__recentBox{
    height: 291px;
    margin-top: 25px;
  
  }
  .main__recentInner{
    color: #000;
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
  }
  .main__recentLine{
    margin: 33px 0px 7px;
    height: 1px;
  }